.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  // Uncomment to start content in middle of screen
  // justify-content: center;
  align-items: center;
}
