.navbar {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  a {
    $x: 5px;
    margin: $x $x $x $x;
    font-size: 1.25rem;
  }
}
