@use 'colors';
html,
body {
  padding: 0;
  margin: 0;
  font-family: Quattrocento Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Work Sans;
}

.highlight-secondary {
  color: colors.$secondary_color;
}
.highlight-tertiary {
  color: colors.$tertiary_color;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  // text-decoration: underline;
  color: colors.$secondary_color;
}

img {
  max-width: 100%;
  display: block;
}

::selection {
  background: colors.$highlight_color;
}
